h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color:  #eb7f80;
    color: white;
}
.sucursal{
    justify-content: space-between;
    display: inline-block;
    margin: 4px;
 
}